:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: light dark;
    --white: #fefeff;
    --white-10: #39393b;
    --white-20: #4f4f51;
    --white-50: #919192;
    --white-70: #bdbdbe;
    --primary: 182 136 103;
    --primary-20: #b6886720;
    --green-active-muted: #72d38d;
    --green-active: #27c137;
    --black: #121214;
    --red-basic: #f04438;
    --white-05: #1e1e20;
    --white-5: #ffffff05;
    --white-80: #d3d3d3;
    --background: #121214;
    --primary-light: #c5a085;
    --white-30: #656566;
    --white-90: #e9e9e9;

    --body-light: 14px;
    --body-m: 18px;
    --body-s: 16px;
    --body-l: 20px;
    --inputs: 16px;
    --h3: 32px;
    --h4: 24px;
    --capture: 14px;
    --capture-small: 12px;
    --subtitle-m: 20px;
    --mobile-h2: 20px;
    --subtitle-s: 16px;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    line-height: 1.2;
    color: var(--white);
    min-width: 320px;
    min-height: 100vh;
}
body.popover-open {
    overflow: hidden;
}
main {
    flex: 1;
    background: var(--white-10);
    @media (width < 1464px) {
        background: var(--background);
    }
}
a {
    color: inherit;
    text-decoration: inherit;
}
li {
    list-style-type: none;
    color: inherit;
}
button {
    cursor: pointer;
    color: inherit;
    border: none;
    background: transparent;
}

fieldset {
    border: none;
}
.container {
    margin: 0 auto;
    max-width: 1464px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.btn {
    background: rgba(var(--primary) / 20%);
    transition: all 0.1s ease-in-out;
    border-radius: 8px;
    user-select: none;
    @media (hover: hover) {
        &:hover {
            background: rgba(var(--primary) / 80%);
        }
    }
    &:active {
        background: rgb(var(--primary));
    }
}
.form_input {
    border-radius: 8px;
    padding: 12px 14px;
    font-size: var(--inputs);
    border: 1px solid var(--white-20);
    background: transparent;
    &::placeholder {
        color: var(--white-50);
    }
}
@media screen and (min-width: 1024px) {
    .tablet {
        display: none !important;
    }
    .mobile {
        display: none !important;
    }
    .mobile-tablet {
        display: none !important;
    }
}
@media screen and (768px <= width < 1024px) {
    .mobile {
        display: none !important;
    }
    .desktop {
        display: none !important;
    }
}
@media screen and (width < 768px) {
    .desktop {
        display: none !important;
    }
    .tablet {
        display: none !important;
    }
    .desktop-tablet {
        display: none !important;
    }
}
